[submodule "llvm"]
	path = llvm
	url = https://github.com/apple/swift-llvm.git
[submodule "clang"]
	path = clang
	url = https://github.com/apple/swift-clang.git
[submodule "lldb"]
	path = lldb
	url = https://github.com/apple/swift-lldb.git
[submodule "cmark"]
	path = cmark
	url = https://github.com/apple/swift-cmark.git
[submodule "llbuild"]
	path = llbuild
	url = https://github.com/apple/swift-llbuild.git
[submodule "compiler-rt"]
	path = compiler-rt
	url = https://github.com/apple/swift-compiler-rt.git
[submodule "swift-corelibs-xctest"]
	path = swift-corelibs-xctest
	url = https://github.com/apple/swift-corelibs-xctest.git
[submodule "swift-corelibs-foundation"]
	path = swift-corelibs-foundation
	url = https://github.com/apple/swift-corelibs-foundation.git
[submodule "swift-corelibs-libdispatch"]
	path = swift-corelibs-libdispatch
	url = https://github.com/norio-nomura/swift-corelibs-libdispatch.git
[submodule "swift-integration-tests"]
	path = swift-integration-tests
	url = https://github.com/apple/swift-integration-tests.git
[submodule "swift-xcode-playground-support"]
	path = swift-xcode-playground-support
	url = https://github.com/apple/swift-xcode-playground-support.git
[submodule "swiftpm"]
	path = swiftpm
	url = https://github.com/norio-nomura/swift-package-manager.git
[submodule "ninja"]
	path = ninja
	url = https://github.com/ninja-build/ninja.git
[submodule "swift"]
	path = swift
	url = https://github.com/norio-nomura/swift.git
[submodule "SourceKitten"]
	path = SourceKitten
	url = https://github.com/jpsim/SourceKitten.git
[submodule "sourcekit-builder"]
	path = sourcekit-builder
	url = https://github.com/norio-nomura/docker-sourcekit-builder.git
